/* propiedades del header  */

header nav ul li
{
	list-style: none;
	float: right;
	padding: 10px;
	
}
header nav ul li a
{
	text-decoration: none;
	color: black;
}
header nav ul li a:hover
{
	color: blue;
}
nav
{
	float: left;
	width: 50%;
	overflow: hidden;
}
.logo
{
	width: 50%;
	float: left;
}
/* fin de las propiedades del header */

/* propiedades del slider  */

.slider img
{
	width: 100%;
}

.propiedad
{
	width: 21%;
	float: left;
	margin: 15px;
	border: 1px solid grey;
	border-radius: 7px;
}
.propiedad .image img
{	
	border-radius: 7px 7px 0px 0px;
	
	width: 100%;

}
.image
{
	border-bottom: 3px blue solid;
	padding: 0px;
	margin: 0px;
	height: 208px;
}
#contenedor
{
	height: 1200px;
}
.descripcion p 
{
	color: grey;	

}
.descripcion
{	
	font-size: 15px;
	font-family: arial ;
	padding: 10px;
}

Misael: 5 +5
Derbin: 5
Cristopher: 5 +5 +5
Carlos: 5
yira: 5
Daniel : 5 +5 +5
evel: 5
